<div class="row">
  <div class="col-md-12">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               name="email"
               class="form-control"
               ngModel
               email
               required
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               ngModel
               required
               minlength="6"
        >
      </div>

      <button type="submit" class="btn btn-primary mr-3" [disabled]="!authForm.valid">
        {{ isLoginMode ? 'Login' : 'Sign Up' }}
      </button>
      <button type="button" class="btn btn-primary" (click)="isLoginMode = !isLoginMode">
        Switch to {{ !isLoginMode ? 'Login' : 'Sign Up' }} mode
      </button>
    </form>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
  </div>
</div>
