<form [formGroup]="bookForm" (ngSubmit)="onFormSubmitted()">
  <div formGroupName="coreInfo">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control"
             type="text"
             id="title"
             name="title"
             formControlName="title"
      >
      <span class="help-block text-danger" *ngIf="bookForm.get('coreInfo.title').touched && !bookForm.get('coreInfo.title').valid">Please enter a valid title.</span>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input class="form-control"
             type="text"
             id="author"
             name="author"
             formControlName="author"
      >
      <span class="help-block text-danger" *ngIf="bookForm.get('coreInfo.author').touched && !bookForm.get('coreInfo.author').valid">Please enter a valid author.</span>
    </div>
  </div>

  <div class="form-group">
    <label for="genre">Genre</label>
    <select name="genre"
            id="genre"
            class="form-control"
            formControlName="genre"
    >
      <option value="mystery">Mystery</option>
      <option value="romance">Romance</option>
      <option value="scifi">Sci-Fi</option>
    </select>
    <span class="help-block text-danger" *ngIf="bookForm.get('genre').touched && !bookForm.get('genre').valid">Please select a genre.</span>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!bookForm.valid">Submit</button>
</form>

<hr>

<div class="row" *ngIf="formSubmitted">
  <div class="col-md-12">
    <p>Title: {{ book.title }}</p>
    <p>Author: {{ book.author }}</p>
    <p>Genre: {{ book.genre }}</p>
  </div>
</div>
