<div class="row">
  <div class="col-md-12">
    <h2>{{ book.title }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>{{ book.author }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>{{ book.genre }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <img [src]="book.coverImagePath" [alt]="book.title" class="img-responsive" style="max-height: 500px;">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <small>Tags</small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="dropdown" appDropdown>
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Edit Book
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="edit">Update Book</a>
        <a class="dropdown-item">Delete Book</a>
      </div>
    </div>
  </div>
</div>
